<div class="container forget-password">
  <div class="row">
    <div class="col-md-6 col-md-offset-4 center">
      <div class="panel">
        <div class="panel-body">
          <div class="text-center">
            <img src="assets/whatsapp-logo.png" />
            <h4 class="text-center">Whatsapp Message</h4>
            <p>
              Send Whatsapp Messages or share your location to your courier guys
              without the hassle of saving contacts
            </p>
            <form
              id="register-form"
              [formGroup]="numberForm"
              (ngSubmit)="onSubmit()"
              class="form"
            >
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"
                    ><i class="glyphicon glyphicon-envelope color-blue"></i
                  ></span>
                  <input
                    formControlName="mobile"
                    placeholder="Enter Mobile Number"
                    class="form-control"
                    type="number"
                  />
                </div>
              </div>
              <div class="form-group">
                <input
                  name="btnForget"
                  class="btn btn-lg btn-primary btn-block btnForget"
                  value="Start Chatting"
                  [disabled]="!numberForm.valid"
                  type="submit"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>
      Copyrights -
      <a href="https://anupsahu.com" target="_blank">Anup Sahu</a>
    </p>
  </div>
</div>
