<div class="container forget-password">
  <div class="row">
    <div class="col-md-6 col-md-offset-4 center">
      <div class="panel">
        <div class="panel-body">
          <div class="text-center">
            <i class="fa fa-whatsapp fa-5x"></i>
            <h2 class="text-center">Send Whatsapp Message</h2>
            <p>
              Enter mobile number and start chatting without saving contacts
            </p>
            <form
              id="register-form"
              [formGroup]="numberForm"
              (ngSubmit)="onSubmit()"
              class="form"
            >
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"
                    ><i class="glyphicon glyphicon-envelope color-blue"></i
                  ></span>
                  <input
                    formControlName="mobile"
                    placeholder="Enter Mobile Number"
                    class="form-control"
                    type="number"
                  />
                </div>
              </div>
              <div class="form-group">
                <input
                  name="btnForget"
                  class="btn btn-lg btn-primary btn-block btnForget"
                  value="Start Chatting"
                  [disabled]="!numberForm.valid"
                  type="submit"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
